<mat-toolbar color="primary" class="toolbar">
  <span class="brand">Math Facts</span>
  <span class="spacer"></span>

  <ng-container *ngIf="userName; else noUser">
    <span class="user">Playing as: <strong>{{ userName }}</strong></span>
    <a mat-button routerLink="/users" routerLinkActive="active-link">Change User</a>
  </ng-container>

  <ng-template #noUser>
    <a mat-button routerLink="/users" routerLinkActive="active-link">Select User</a>
  </ng-template>

  <a mat-button routerLink="/quiz" routerLinkActive="active-link">Quiz</a>
  <a mat-button routerLink="/take-quiz" routerLinkActive="active-link">Take Test</a>
  <a mat-button routerLink="/settings" routerLinkActive="active-link">Settings</a>
  <a mat-button routerLink="/stats" routerLinkActive="active-link">Stats</a>
  <a mat-button routerLink="/challenges">Past Challenges</a>
</mat-toolbar>

<router-outlet></router-outlet>